html {
    --letra: "Georgia", "Times New Roman", Times, serif;
    font-size: 16px;
}

body {
    margin: 0px auto;
    text-align: center;
}

header {
    background-color: #5251c0;
    color: white;
    border-radius: 5px;
    font-family: var(--letra);
    margin: 0px auto;
    padding-top: 3px;
    padding-bottom: 3px;
}


#secc01 article {
    display: inline-block;
    border-radius: 10px;
    border-color: black;
}


#secc01 article input[type="button"] {
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.3em;
    transition: 0.5s;
    font-family: var(--letra);
}

#secc01 article input[type="button"]:hover {
    transition: 0.5s;
    background-color: #3647a7;
}

#secc01 article input[type="button"]:active {
    background-color: #3647a7;
    transition: 0.5s;
}

#secc02 {
    background: rgba(78, 18, 76, 0.399);
    margin: 0px auto;

    border-radius: 5px;
    height: 540px;
}

#secc02 article {
    background: rgb(71, 67, 64);
    margin: 0px auto;
    width: 90%;
    height: 520px;
    border-radius: 5px;
}